.character-card {
  height: 100%;
  width: 100%;
  position: relative; 
    .max-lines{
        display: block;/* or inline-block */
        text-overflow: ellipsis;
        word-wrap: break-word;
        overflow: hidden;
        max-height: 100px;
        line-height: 1.8em;
    }

    .thumbnail-image {
        height: 200px
    }
    .card-actions {
        position: absolute;
        bottom: 0px;
        left: 50%;
        transform: translate(-50%, 0);
        width: 90%;
        a {
            text-decoration: none;
        }
        .character-page-link {
            width: 100%;
        }
        button { 
            width: 100%;
        }
    }        
}

