.character-card {
    .max-lines {
        display: block; /* or inline-block */
        text-overflow: ellipsis;
        word-wrap: break-word;
        overflow: hidden;
        height: 3.6em;
        line-height: 1.8em;
    }

    // .thumbnail-image {
    //     width: 100%;
    //     max-height: 250px;
    // }
    // .card-actions {
    //     position: absolute;
    //     bottom: 0px;
    //     left: 50%;
    //     transform: translate(-50%, 0);
    //     width: 100%;
    //     a {
    //         text-decoration: none;
    //     }
    //     .character-page-link {
    //         width: 100%;
    //     }
    //     button {
    //         width: 100%;
    //     }
    // }
}
