.character-page {
    text-align: center;
    background-color: transparent !important;
    // padding-bottom: 27px;
    .thumbnail-image {
        height: 1000px;
        position: relative;
        width: 100%;
    }
    .character-information {
        background-color: black;
        position: absolute;
        top:0;
        width: 100%;
        opacity: 0.80;
        color: white;
        height: 1000px;
        padding: 0px;
    }
    .accordion-character-container {
        margin: 0px !important;
        border: 1px solid #c3b6b6;
        color: white;
        background-color: transparent;
    }
}